<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Voiceless</title>
       {% block stylesheets %}{% endblock %}
        {% block Modalstylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    
    </head>
    <body>
     {% block modal %}{% endblock %}
        {% block body %}{% endblock %}

        {% block jscripts %}{% endblock %}
        {% block Modaljscripts %}{% endblock %}
    </body>
</html>
