 {% extends 'base.html.twig' %}


{% block body %}


 <header>
  <div class="container text-center">

         <a role="button" class="btn btn-block btn-primary pull-right" style="width: 100px; margin-top: -130px" href="{{ path('logout') }}">LogOut</a>

      <img src="{{ asset('home/img/welcome.png') }}" style="margin-top: -20px; width: 800px"/>

      <div class="menu">
          <a href="#"> HOME</a>
          <a href="{{ path('profile') }}"> MY ACCOUNT</a>
      </div>
  </div>
</header>

{% endblock %}

{% block Section %}

<section style="background: #5ac7ec; height: 300px">

  {{ form_start(form) }}

    <div class="pull-left" style="margin-left: 40px; margin-top: -80px">
        <div class="form-group">
          <div class="input-group">
          <div class="input-group-addon">
          <span class="glyphicon glyphicon-book" title="Enter your Title Here"></span>
          </div>
        {{form_widget(form.Title)}}
          </div>
        </div>


        <div class="form-group">
          <div class="input-group">
          <div class="input-group-addon">
          <span class="glyphicon glyphicon-pencil" title="Enter your Title Here"></span>
          </div>
        {{form_widget(form.Content)}}
          </div>
        </div>

          {{form_widget(form.Image)}}

          {{form_widget(form.Save)}}
    </div>



  {{ form_end(form) }}

</section>

<section class="timeline">
  <div class="container">

{% for key,value in post %}    

    <div class="timeline-item">

      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
        <img src="{{ asset('upload/img/') }}{{post[key]["Image"]}}" style="width: 100%; height: 100%"></img>  
        <h2 style="color: red">{{ post[key]["Title"] }}</h2>
        </div>

        <div class="date">{{ post[key]["Author"] }} </div>
          <p>{{ post[key]["Content"]|slice(0, 50) ~ '...' }} </p>
        <a class="bnt-more" href="{{ path('post',{'id': post[key]["Id"]}) }}">See More...</a> 
        <div class="pull-right" style="margin-top: 15px; margin-right: 40px">
        
          <span class="glyphicon glyphicon-heart"></span> {{ post[key]["Likes"] }}
          <span class="fa fa-bullhorn" style="margin-left: 10px"></span> {{ post[key]["Comments"] }}
        </div>
      </div>

    </div>   
{% endfor %}

</section>

{% endblock %}

{% block stylesheets %}

<script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

      <link rel="stylesheet" href="home/css/style.css">

{% endblock %}

{% block jscripts %}

   <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js'></script>

    <script  src="{{ asset('home/js/index.js') }}"></script>
  {% endblock %}
