{% extends 'loginform.html.twig' %}

{% block body %}

<div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-register-label" aria-hidden="true" style="">
<div class="modal-position">
          <div class="modal-dialog">
            <div class="modal-content">
              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title" id="modal-register-label">Sign up now</h3>
                <p>Fill in the form below to get instant access:</p>
              </div>
              
              <div class="modal-body">
                  {{ form_start(register, {'attr': {'class': 'registration-form'}}) }} 

                           <div class="form-group">
                          <label class="sr-only" for="form-first-name">Username</label>
                          {{ form_widget(register.username)}}
                           </div>
                           <div class="form-group">
                            <label class="sr-only" for="form-last-name">Password</label>
                           {{ form_widget(register.password)}}
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="form-email">Email</label>
                           {{ form_widget(register.fullname)}}
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="form-about-yourself">About yourself</label>
                             {{ form_widget(register.address)}}
                          </div>
                            {{form_end(register)}}
              </div>
              
            </div>
          </div>
        </div>
</div>
 <div id="wrapper">

<center>
      <img src="{{ asset('login/img/bg2.png') }}" style="margin-top: 90px; width: 600px"/>
</center>

      <div id="boxy-login-wrapper">


    	{{ form_start(form, {'attr': {'id': 'boxy-login-form', 'name': 'boxy-login-form'}}) }} 

         <fieldset>
                      <div class="boxy-form-inner rotateFirst3d">


      <span class="end-cap left"><span class="glyphicon glyphicon-user" data-toggle="tooltip" title="click to login"></span></span>


      <span class="side front">
            <span class="glyphicon glyphicon-user" data-toggle="tooltip" title="enter your username"></span>
        		{{form_widget(form.username)}}
            <button class="boxy-button next-field" data-step="0"></button>
      </span>

      <span class="side bottom">
       <span class="glyphicon glyphicon-asterisk" data-toggle="tooltip" title="enter your password"></span>
              {{form_widget(form.password)}}
        <button class="boxy-button next-field sub" data-step="1"></button>
       </span>

        <span class="side back">
            
        <label>Enter Voiceless</label>         
                {{form_widget(form.Login)}}
       
        </span>        

           </div>
       </fieldset>

	    {{form_end(form)}}

      <br/><br/><br/>
       <div class="top-big-link" style="padding-left: 20px; top: 20px;">
                              <a class="btn btn-link-1 launch-modal" href="#" data-modal-id="modal-register">Register</a>
                            </div>
  
{% endblock %}

{% block modal %}



{% endblock %}

 


{% block stylesheets %}

<script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
  
  <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
<link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'>
 <link rel='stylesheet' href="{{ asset('login/css/style.css') }}">

{% endblock %}

{% block jscripts %}

 <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.2.0/bootbox.min.js'></script>
<script src='http://s3-us-west-2.amazonaws.com/s.cdpn.io/1251/bootstrap.glyphs.js'></script>

    <script  src="{{ asset('login/js/index.js') }}"></script>

  {% endblock %}

  {% block Modalstylesheets %}
     
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{{ asset('register/assets/bootstrap/css/bootstrap.min.css' )}}">
    <link rel="stylesheet" href="{{ asset('register/assets/css/form-elements.css') }}">
        <link rel="stylesheet" href="{{ asset('register/assets/css/style.css') }}">          

{% endblock %}

{% block Modaljscripts %}

<script src="{{ asset('register/assets/js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ asset('register/assets/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('register/assets/js/jquery.backstretch.min.js') }}"></script>
        <script src="{{ asset('register/assets/js/scripts.js') }}"></script>

{% endblock %}