 {% extends 'postform.html.twig' %}

 {% block body %}
 <div id='hero'>
  <div class='layer-bg layer' data-depth='0.10' data-type='parallax'></div>
  <div class='layer-2 layer' data-depth='0.50' data-type='parallax'></div>
  <div class='layer-3 layer' data-depth='0.80' data-type='parallax'></div>
  <div class='layer-overlay layer' data-depth='0.85' data-type='parallax'></div>
  <div class='layer-4 layer' data-depth='1.00' data-type='parallax'></div>

</div>
<div id='hero-mobile'></div>
<div id='content'>
  <div class='container'>
    <section class='first-section'>
      <div class='row'>
      <h1> <a href="{{path('homepage') }}">Back</a></h1>
        <div class='col-sm-6'>
          <h1>{{ post["Title"] }}</h1>

          <p style="margin-top: -35px"><font size="4px" color="gray"><i>{{ post["Author"] }}</i></font></p>
          <div> 
          	<span class="glyphicon glyphicon-heart">&nbsp</span>{{ post["Likes"] }}
			<span class="fa fa-bullhorn" style="margin-left: 10px; color: white;"></span> &nbsp{{ post["Comments"] }}
		</div>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-10'>
          <p>{{ post["Content"] }}</p>

          <a href="{{ path('like',{'id': post["Id"], 'status': 'liked'}) }}">Like</a>
          <hr color="white" width="100%"></hr>

          <h2>Comment:</h2>
            {{ form_start(form) }}
		 	{{form_widget(form.Comment)}}
		    {{form_widget(form.Save)}}
		    {{ form_end(form) }}

		<div style="margin-top: 20px">
			{% for key,value in comm %}    
			
      {% if comm[key]["Sender"] == '' and comm[key]["Sender"] == '' %}
			 
      {% else %}
      <hr color="white" width="100%"></hr>
      <p>{{ comm[key]["Sender"] }}: {{ comm[key]["Content"] }}</p>

      {% endif %}
			{% endfor %}
		<div>
        </div>
      </div>
    </section>
  </div>
</div>

 {% endblock %}


{% block stylesheets %}

<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <link rel="stylesheet" href="{{ asset('post/css/style.css') }}">


{% endblock %}

{% block jscripts %}

    <script  src="{{ asset('post/js/index.js') }}"></script>

  {% endblock %}