<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Voiceless</title>
      <!--   {% block stylesheets %}{% endblock %} -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
      
      <!--   {% block jscripts %}{% endblock %} -->
    </body>
</html>
