{% extends 'profileform.html.twig' %}

{% block body %}
<div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-register-label" aria-hidden="true" style="">
<div class="modal-position">
          <div class="modal-dialog">
            <div class="modal-content">
              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title" id="modal-register-label">Sign up now</h3>
                <p>Fill in the form below to get instant access:</p>
              </div>
              
              <div class="modal-body">
                  {{ form_start(register, {'attr': {'class': 'registration-form'}}) }} 

                           <div class="form-group">
                          <label class="sr-only" for="form-first-name">Username</label>
                          {{ form_widget(register.username)}}
                           </div>
                           <div class="form-group">
                            <label class="sr-only" for="form-last-name">Password</label>
                           {{ form_widget(register.password)}}
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="form-email">Email</label>
                           {{ form_widget(register.fullname)}}
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="form-about-yourself">About yourself</label>
                             {{ form_widget(register.address)}}
                          </div>
                            {{form_end(register)}}
              </div>
              
            </div>
          </div>
        </div>
</div>
 <div class="profile-card">
        <div class="profile-cover" style="background: url('{{asset('post/img/header.png')}}') no-repeat center;">
            <div class="menu-container">
                <a class="list-icon" title="Expand" href="javascript:void(0);"></a>
                <ul class="profile-actions" style="display: none;">
                    <li><a class="btn btn-link-1 launch-modal" href="#" data-modal-id="modal-register">Edit Profile</a>
                         </li>
                    <li><a href="{{path('homepage') }}">Back</a></li>
               
                </ul>
            </div>
            <div class="profile-avatar">
              
               <img src="{{ asset('upload/img/') }}{{ acct["Image"] }}" style="width: 100%; height: 100%;"></img>
            </div>
            <div class="profile-details">
                <h1>{{ acct["Name"] }}</h1>
                <h6>@{{ acct["Username"] }}</h6>
            </div>
        </div>
        
        <div class="profile-content">
        
            <ul>
                <li>
                    <div class="digits">Name</div>
                    {{acct["Name"]}}
                </li>
                <li>
                    <div class="digits">Address</div>
                    {{acct["Address"]}}
                </li>
                <li>
                    <div class="digits">Contact</div>
                   {{acct["Contact"]}}
                </li>
                
                   
                
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    
{% endblock %}


 {% block Section %}


<section class="timeline">
  <div class="container">

{% for key,value in post %}    

    <div class="timeline-item">

      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
        <img src="{{ asset('upload/img/') }}{{post[key]["Image"]}}" style="width: 100%; height: 100%"></img>  
        <h2 style="color: red">{{ post[key]["Title"] }}</h2>
        </div>

        <div class="date">{{ post[key]["Author"] }} </div>
          <p>{{ post[key]["Content"]|slice(0, 50) ~ '...' }} </p>
        <a class="bnt-more" href="{{ path('post',{'id': post[key]["Id"]}) }}">See More...</a>
          <a href="{{ path('deleteData',{'id': post[key]["Id"]}) }}" ><span class="fa fa-trash-o"></span></a> 
        <div class="pull-right" style="margin-top: 15px; margin-right: 40px">

          <span class="glyphicon glyphicon-heart"></span> {{ post[key]["Likes"] }}
          <span class="fa fa-bullhorn" style="margin-left: 10px"></span> {{ post[key]["Comments"] }}

        </div>
      </div>

    </div>   
{% endfor %}

</section>

{% endblock %}


{% block stylesheets %}

<script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
  
  <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
<link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'>
 <link rel='stylesheet' href="{{ asset('profile/css/style.css') }}">


  <link href="https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

      <link rel="stylesheet" href="home/css/style.css">

{% endblock %}

{% block jscripts %}

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>

    <script  src="{{ asset('profile/js/index.js') }}"></script>

  {% endblock %}

    {% block Modalstylesheets %}
     
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
     
     <link rel="stylesheet" href="{{ asset('register/assets/css/form-elements.css') }}">
        <link rel="stylesheet" href="{{ asset('register/assets/css/style.css') }}">          

{% endblock %}

{% block Modaljscripts %}

        <script src="{{ asset('register/assets/js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ asset('register/assets/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('register/assets/js/jquery.backstretch.min.js') }}"></script>
        <script src="{{ asset('register/assets/js/scripts.js') }}"></script>

{% endblock %}